.outerDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 8000;
    background-color: rgba(28, 28, 28, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.modal {
    width: 430px;
    height: auto;
    padding: 20px 25px;
    background-color: white;
    border-radius: 10px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ttl {
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(79, 79, 79);
}

.closeBtn {
    font-weight: 700;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.closeBtnImg {
    width: 100%;
    height: 100%;
}

.lgBox {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.inpBox,
.btn {
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
    outline: none;
    font-size: 1.1rem;
    color: rgb(28, 28, 28);
}

.termsTxt {
    margin: 10px 0;
    display: flex;
    font-size: 0.8rem;
    color: rgb(105, 105, 105);
}

.checkBox {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    accent-color: rgb(239, 79, 95);
    cursor: pointer;
}

.termaAnchor {
    text-decoration: none;
    color: rgb(239, 79, 95);
}

.btn {
    background-color: rgb(156, 156, 156);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.orBreak {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.orBreak::before {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(232, 232, 232)
}

.orBreak::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(232, 232, 232)
}

.orBreakText {
    margin: 0 10px;
}

.socialSignupBox {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 25px;
    margin: 0px 10px;
}

.break {
    border-top: 1px solid rgb(207, 207, 207);
    border-right: 0px solid rgb(207, 207, 207);
    border-bottom: 0px solid rgb(207, 207, 207);
    border-left: 0px solid rgb(207, 207, 207);
    margin: 20px 0;
}

.newToZomato {
    color: rgb(28, 28, 28);
    display: flex;
}

.createAcc {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(239, 79, 95);
    cursor: pointer;
}

@media all and (max-width: 420px){
    .modal{
        margin-top: 8rem;
        width: 100%;
        height: max-content;
    }
}