.banner {
    width: 100%;
    height: 25rem;
}

.innerBanner {
    position: relative;
    width: 100%;
    height: 100%;
}

.bannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannerTxt {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.innerBannerTxt {
    width: 60%;
    margin: auto;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.ttl {
    font-size: 2.5rem;
}

.tag {
    font-size: 1.2rem;
    margin: 15px 0px;
}

.btn {
    margin: 10px 10px 0 0;
    padding: 13px 10px;
    width: 370px;
    background-color: rgb(39, 129, 231);
    color: white;
    border: none;
    border-radius: 10px;
    letter-spacing: 0.5px;
    font-size: 1.05rem;
    font-weight: 400;
    cursor: pointer;
}