.outerDiv{
    width: max-content;
    height: auto;
    margin: 0.3rem;
    border: var(--brd1);
    border-radius: 5px;
    cursor: pointer;
}

.innerDiv{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
}

.imgBox{
    width: 40px;
    height:40px;
    border-radius: 50%;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.txt{
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0.5rem;
}