.search2 {}

.box2 {
    width: 100%;
    position: relative;
}

.searchbar2 {
    padding: 13px 13px 13px 40px;
    border: none;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    font-weight: 500;
    font-size: 1.1rem;
}

.searchIcon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}