.outerDiv{
    width: 100%;
    min-height: 250px;
    height: auto;
    margin: 2rem 0;
}

.innerDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBox{
    width: 300px;
    height: 300px;
}

.img{
    width: 100%;
    height: 100%;
}

.txt{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 1rem;
    text-align: center;
}