.LocationComp {
    width: 100%;
    margin: 2.5rem 0px;
}

.locationBody {
    width: 70%;
    margin: auto;
}

.locationCompTitle {
    font-size: 2rem;
    margin: 10px;
}

.cityName {
    font-weight: 600;
}

.locationCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}